.wrapper {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	width: 92%;
	display: flex;
	flex-direction: column;
  height: 90%;
  margin: 22px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.title {
	margin: 0 0 35px 0;
}

.createdAt {
	color: #737373;
	font-style: italic;
}

.status {
	color: #fff;
	background: #465571;
	font-weight: bold;
	margin: 0;
	padding: 8px 20px;
	border-radius: 20px;
}

.label {
	margin-bottom: 10px;
}

.select {
	padding: 8px;
	border-radius: 8px;
}

.homeLink {
	display: block;
	text-decoration: none;
	color: #737373;
}

.cross {
	height: 32px;
	width: 32px;
}

.cross:hover {
	cursor: pointer;
    transition: transform 0.3s ease-in-out;
	opacity: .5;
}

.homeLink:hover {
	color: #000;
}

.emptyState {
	text-align: center;
}

.emptyStateIcon {
	width: 200px;
}

.taskDetail__textarea {
	border: none;
	width: 60%;
	height: 40%;
	resize: none;
	border-radius: 8px;
}